doctype html
html(lang=(pageLang) ? pageLang : config.adminLang)
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        if(metaDescription)
            meta(name="description" content=metaDescription)
        if(metaRobots)
            meta(name="robots" content=metaRobots)
        if(author)
            meta(name="author" content=author)
        if(pageTitle)
            title #{pageTitle}
        else
            title #{config.siteName}
        base(href=config.siteUrl)
        block scripts
        link(rel="stylesheet" href="/themes/"+config.theme+"/CSS/pure-min.css")
        link(rel="stylesheet" href="/themes/"+config.theme+"/CSS/grids-responsive-min.css")
        link(rel="stylesheet" href="/themes/"+config.theme+"/CSS/wikilerni.css")
        link(rel="shortcut icon" href="/img/favicon.ico")
        link(rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
        block css           
        if(linkCanonical)
            link(rel="canonical" href=linkCanonical)
                    
    body

        header(class="pure-g menu")
            div(class="pure-u-1 pure-u-lg-1-8 menu-heading")
                a(href="/" class="pure-menu-heading") #{config.siteName}
            div(class="pure-u-1 pure-u-lg-7-8")
                ul(class="pure-g")
                    - const nbItemHead=configTpl.headLinks.length; const lang=config.adminLang+"";
                    for item in configTpl.headLinks
                        li(class="pure-menu-item pure-u-1 pure-u-lg-1-"+nbItemHead)
                            a(href="/"+item.url class="pure-menu-link")&attributes(item.attributes) #{item.anchor}

        block content

        - const nbItemFoot = configTpl.footLinks.length;
        footer(class="footer l-box is-center")
            ul(class="pure-g")
                for item in configTpl.footLinks
                    li(class="pure-u-1 pure-u-lg-1-"+nbItemFoot)
                        a(href="/"+item.url)&attributes(item.attributes) #{item.anchor}