extends layout.pug

block append scripts
    script(src="/JS/polyfill.app.js" defer)
    script(src="/JS/index.app.js" defer)


block content
    section#main-content

        header(id="main-header")
            h1 #{config.siteName}
            p #{configTpl.siteSlogan}
            p
                a(href="/inscription.html" class="pure-button pure-button-primary") Inscription

        include includes/listing-questionnaires.pug

        footer(class="pure-menu pure-menu-horizontal")
            nav#pagination #{configTpl.tagsListTxt}
                ol(id="classement" class="pure-menu-list")
                    for tag in tags
                        li(class="pure-menu-item")
                            a(href="/quizs/"+tag.slug+".html" class="pure-menu-link") #{tag.name}
                    