extends layout.pug

block append scripts
    script(src="/JS/polyfill.app.js" defer)
    script(src="/JS/index.app.js" defer)

block content
    section#main-content

        header(id="main-header")
            h1 #{tagInfos.name}
            p #{configTpl.siteSlogan}

        div(class="pure-menu pure-menu-horizontal")
            a(href="/" class="pure-menu-heading pure-menu-link") #{config.siteName}
            ul(id="classement" class="pure-menu-list")
                li(class="pure-menu-item")
                        a(href="/quizs/"+tagInfos.slug+".html" class="pure-menu-link") #{tagInfos.name}
            
        include includes/listing-questionnaires.pug

        footer
            nav#pagination
                if(page!==1 && page!==2)
                    a(href="./"+tagInfos.slug+"-"+(page-1)+".html") #{txtGeneral.previousPage}
                else if(page===2)
                    a(href="./"+tagInfos.slug+".html") #{txtGeneral.previousPage}
                if(nbPages > page)
                    a(href="./"+tagInfos.slug+"-"+(page+1)+".html") #{txtGeneral.nextPage}