doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
   title #{config.siteName}
   updated #{questionnaires[0].Questionnaire.updatedAt}
   link(href=config.siteUrlProd+"/atom.xml" rel="self" type="application/atom+xml")
   link(href=config.siteUrlProd rel="alternate" type="text/html")
   id #{config.siteUrlProd+"/atom.xml"}
   author
        name #{config.senderName}
        uri #{config.siteUrlProd}
        email #{config.senderEmail}

   - let tot=0;
   
   for questionnaire in questionnaires
        -
            const titleTxt=questionnaire.Questionnaire.title;
            const url=config.siteUrlProd+"/quiz/"+questionnaire.Questionnaire.slug+".html";
            const publishedAt=questionnaire.Questionnaire.publishingAt;
            const updatedAt=questionnaire.Questionnaire.updatedAt;
            const introduction=tool.shortenIfLongerThan(striptags(questionnaire.Questionnaire.introduction.replace("<br>", " ").replace("</p>", " ").replace("</h4>", " ").replace("\n", " ")), 300);

        if(tot < configTpl.maxQuestionnairesFeed)
            entry
                title #{questionnaire.Questionnaire.title}
                summary #{introduction}
                link(rel="alternate" type="text/html" href=url)
                id #{url}
                published #{questionnaire.Questionnaire.publishedAt}
                updated #{questionnaire.Questionnaire.updatedAt}
        - tot++