extends layout.pug

block append scripts
    script(src="/JS/polyfill.app.js" defer)
block content
    div(id="home" class="cardboard")
        p
            img(id="logo" src="/themes/wikilerni/img/wikilerni-purple-2-512.png" alt="Logo WikiLerni")
        h2(class="cardboard") #{config.siteName+" - "+configTpl.siteSlogan}
        div(class="engraved framed")
            h3 #{configTpl.homeTitle1}
            p !{configTpl.homeP1}
            h3 #{configTpl.homeTitle2}
            p !{configTpl.homeP2} 
    - nbQuestionnairesList=configTpl.maxQuestionnairesSiteHomePage;
    include includes/listing-questionnaires.pug