doctype html
html(lang=(pageLang) ? pageLang : config.adminLang)
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        if(metaDescription)
            meta(name="description" content=metaDescription)
        if(metaRobots)
            meta(name="robots" content=metaRobots)
        if(author)
            meta(name="author" content=author)
        if(pageTitle)
            title #{pageTitle}
        else
            title #{config.siteName}
        // Version lisible des scripts : https://forge.chapril.org/Fab_Blab/WikiLerni/src/branch/master/front/src
        block scripts
        link(rel="stylesheet" href="/themes/wikilerni/css/style.css")
        block css
        link(rel="shortcut icon" href="/img/favicon.ico")
        link(rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
        link(rel="alternate" type="application/atom+xml" title=config.siteName href="/atom.xml")
        if(linkCanonical)
            link(rel="canonical" href=linkCanonical)
    body(class="cardboard")
        header(class="cardboard")
            a(href="/" title=configTpl.homePageTxt)
                img(src="/themes/wikilerni/img/wikilerni-purple-2-128.png" alt=config.siteName+" (logo)")
            ul(id="headLinks")
                - const nbItemHead=configTpl.headLinks.length; const lang=config.adminLang+"";
                for item in configTpl.headLinks
                    li
                        a(href="/"+item.url)&attributes(item.attributes) #{item.anchor}
        block content
        - const nbItemFoot = configTpl.footLinks.length;
        footer(class="cardboard")
            ul(id="footLinks")
                for item in configTpl.footLinks
                    li
                        a()&attributes(item.attributes) #{item.anchor}