extends layout.pug
block append scripts
    script(src="/JS/polyfill.app.js" defer)
    script(src="/JS/index.app.js" defer)  
block content
    div(id="prompt" class="cardboard")
        p
            img(id="logo" src="/themes/wikilerni/img/wikilerni-purple-2-512.png" alt="Logo WikiLerni")
        h2(class="cardboard") #{config.siteName+" - "+configTpl.siteSlogan}
        div#listsIntro !{configTpl.newsListTitle}
        // p
            // a(href="/"+configTpl.subscribePage class="button cardboard" title=configTpl.homeBtnSubscribeTxt) #{configTpl.homeBtnSubscribeTxt}
    - nbQuestionnairesList=configTpl.maxQuestionnairesByPage;
    include includes/listing-questionnaires.pug