extends layout.pug
block append scripts
    script(src="/JS/polyfill.app.js" defer)
    script(src="/JS/index.app.js" defer)
block content
    div(id="prompt" class="cardboard")
        p
            img(id="logo" src="/themes/wikilerni/img/wikilerni-purple-2-512.png" alt="Logo WikiLerni")
        h2(class="cardboard") #{config.siteName+" - "+configTpl.siteSlogan}
        p #{txtTag.tagMetaDescription+tagInfos.name}
    - nbQuestionnairesList=configTpl.maxQuestionnairesByPage;
    include includes/listing-questionnaires.pug
    nav#pagination
        div
            if(page!==1 && page!==2)
                a(href="/quizs/"+tagInfos.slug+"-"+(page-1)+".html" class="button") #{txtGeneral.previousPage}
            else if(page===2)
                a(href="/quizs/"+tagInfos.slug+".html" class="button") #{txtGeneral.previousPage}
        if(nbPages > page)
            div
                a(href="/quizs/"+tagInfos.slug+"-"+(page+1)+".html" class="button") #{txtGeneral.nextPage}