extends layout.pug
block append scripts
    script(src="/JS/polyfill.app.js" defer)
    script(src="/JS/index.app.js" defer)   
block content
    div(id="prompt" class="cardboard")
        p
            img(id="logo" src="/themes/wikilerni/img/wikilerni-purple-2-512.png" alt="Logo WikiLerni")
        h2(class="cardboard") #{config.siteName+" - "+configTpl.siteSlogan}
        div#listsIntro !{configTpl.tagListIntro}
        nav(id="tagsList")
            for tag in tags
                div
                    a(href="/"+configQuestionnaire.dirWebTags+tag.slug+".html" class="button") #{tag.name}