//- boucles listant des questionnaires, utilisées pour différentes pages

for questionnaire in questionnaires

    -
        let imgAttributes = { alt: txtIllustration.defaultAlt };
        if(tool.isEmpty(questionnaire.Illustrations[0].alt)===false)
            imgAttributes.alt=questionnaire.Illustrations[0].alt;
        if(tool.isEmpty(questionnaire.Illustrations[0].title)===false)
            imgAttributes.title=questionnaire.Illustrations[0].title;
        let introduction=tool.shortenIfLongerThan(striptags(questionnaire.Questionnaire.introduction.replace("<br>", " ")), 300);

    div(class="questionnaire-listed l-box-lrg pure-g")
        div(class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5")
            img(src="/img/quizs/"+questionnaire.Illustrations[0].url class="pure-img-responsive")&attributes(imgAttributes)
        div(class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5")
            h2(class="content-head content-head-questionnaire") #{questionnaire.Questionnaire.title}
            div#intro #{introduction}
            a(href="/quiz/"+questionnaire.Questionnaire.slug+".html" class="pure-button pure-button-primary") #{txtGeneral.btnLinkToQuestionnaire}
    hr